{{!< default}}
<section class="flex justify-center items-center my-16 gap-10 flex-col sm:flex-row sm:gap-20">
  <div class="flex flex-col items-center sm:items-start w-full sm:w-1/2">
    <h1 class="text-3xl md:text-5xl font-bold text-center">Instituto André Rebouças</h1>
    <hr class="bg-black my-6 h-[2px] w-full" />
    <div class="text-lg md:text-xl mb-6 sm:text-left text-center">
      <p>
        Se tiver alguma dúvida, sugestão, interesse em nossas atividades ou desejar fazer parte de nossas iniciativas, não hesite em entrar em contato. Nossa equipe está pronta para fornecer todas as informações que você precisa.
      </p>
      <em>Nós, do Instituto André Rebouças, valorizamos o contato com todos que compartilham do mesmo propósito: construir uma comunidade mais forte e acolhedora. Junte-se a nós nessa jornada de transformação social.</em>
    </div>
    <button class="text-md md:text-xl py-4 px-6 bg-yellow-300 font-semibold rounded-lg shadow-md hover:bg-yellow-500">
      Entre em contato conosco
    </button>
  </div>
  <div class="w-full sm:w-1/2">
    <img class="w-full h-full rounded-[7%]" src="{{asset 'img/andre-reboucas.jpg'}}"
      alt="Instituto André Rebouças" />
  </div>
</section>
<section class="flex justify-center items-center my-16 flex-col sm:flex-row sm:gap-20">
  <div class="w-full sm:w-1/2">
    <img class="w-auto h-auto rounded-lg" src="{{asset 'img/zona-oeste-sp.jpg'}}" alt="about" />
  </div>
  <div class="flex flex-col mt-8 items-center sm:items-start w-full sm:w-1/2">
    <small class="text-sm md:text-base sm:text-left text-center">Atuamos na área cultural, social e esportiva da cidade.</small>
    <h2 class="text-2xl md:text-4xl mt-2 font-semibold sm:text-left text-center">Sobre a associação</h2>
    <p class="text-md md:text-xl my-6 sm:text-left text-center">
      O Instituto André Rebouças, fundado em 10/02/1993, na Zona Oeste de São Paulo, por moradores engajados, é uma referência de resistência à carência local. Busca avanços sociais através de ações afirmativas, oferecendo cursos, atividades culturais e esportivas para a comunidade. Após reorganização em maio de 2022, atua também como Sociedade de Bairro e ONG, representando os interesses da região junto aos órgãos governamentais e privados.
    </p>
    <button class="flex items-center py-4 px-6 bg-yellow-300 font-semibold rounded-lg shadow-md hover:bg-yellow-500">
      <span class="text-md sm:text-xl font-semibold mr-2">Saiba mais</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
</section>
<section class="flex flex-col items-center my-32">
<div class="flex flex-col items-center">
  <h2 class="text-2xl sm:text-4xl mb-6 font-semibold bg-yellow-300 hover:bg-yellow-500 rounded-lg shadow-md py-4 px-6">Notícias</h2>
</div>
<div class="events-list">
<ul class="grid grid-flow-col [&>*:nth-child(2n+1)]:col-start-1 gap-8 mt-6 sm:gap-4 place-content-center">
<li class="flex bg-yellow-300 p-6 gap-6 rounded-lg shadow-md hover:shadow-lg hover:bg-yellow-500">
<img class="" src="{{asset 'img/placeholder-img.svg'}}" alt="">
  <div class="">
    <h3 class="text-2xl sm:text-4xl font-bold">32%</h3>
    <p class="ma-w-auto">There are many variations of passages of Lorem Ipsum available</p>
    <button href="#" class="flex items-center mt-4">
      <span class="text-sm sm:text-lg mr-2">Ver notícia</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
</li>
<li class="flex bg-yellow-300 p-6 gap-6 rounded-lg shadow-md hover:shadow-lg hover:bg-yellow-500">
<img class="" src="{{asset 'img/placeholder-img.svg'}}" alt="">
  <div>
    <h3 class="text-2xl sm:text-4xl  font-bold">5 +</h3>
    <p class="w-auto">There are many variations of passages of Lorem Ipsum available</p>
    <button href="#" class="flex items-center mt-4">
      <span class="text-sm sm:text-lg mr-2">Ver notícia</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
</li>
<li class="flex bg-yellow-300 p-6 gap-6 rounded-lg shadow-md hover:shadow-lg hover:bg-yellow-500">
  <img class="" src="{{asset 'img/placeholder-img.svg'}}" alt="">
    <div>
      <h3 class="text-2xl sm:text-4xl font-bold">200+</h3>
      <p class="w-auto">There are many variations of passages of Lorem Ipsum available</p>
      <button href="#" class="flex items-center mt-4">
        <span class="text-sm sm:text-lg mr-2">Ver notícia</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </li>
  <li class="flex bg-yellow-300 p-6 gap-6 rounded-lg shadow-md hover:shadow-lg hover:bg-yellow-500">
    <img class="" src="{{asset 'img/placeholder-img.svg'}}" alt="">
      <div>
        <h3 class="text-2xl sm:text-4xl  font-bold">6401</h3>
        <p class="w-auto">There are many variations of passages of Lorem Ipsum available</p>
        <button href="#" class="flex items-center mt-4">
          <span class="text-sm sm:text-lg mr-2">Ver notícia</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </button>
      </div>
    </li>
  </div>
</section>
<section class="flex flex-col items-center my-20 gap-10">
  <div class="flex flex-col items-center">
    <h2 class="text-2xl sm:text-4xl text-center font-semibold ">Nossos parceiros</h2>
  </div>
  <div class="mt-4">
    <ul class="grid grid-cols-2 sm:flex sm:flex-row sm:justify-around">
      <li class="shadow-md hover:shadow-lg rounded-lg partner">
        <img class="h-48 w-full object-cover rounded-t-lg" src="./assets/img/partner-logo.png" alt="Diretor 3" />
        <div class="p-4 bg-yellow-300 rounded-lg rounded-t-none">
          <h3 class="font-bold text-center">Parceiro 1</h3>
        </div>
      </li>
      <li class="shadow-md hover:shadow-lg rounded-lg partner">
        <img class="h-48 w-full object-cover rounded-t-lg" src="./assets/img/partner-logo.png" alt="Diretor 3" />
        <div class="p-4 bg-yellow-300 rounded-lg rounded-t-none">
          <h3 class="font-bold text-center">Parceiro 2</h3>
        </div>
      </li>
      <li class="shadow-md hover:shadow-lg rounded-lg partner">
        <img class="h-48 w-full object-cover rounded-t-lg" src="./assets/img/partner-logo.png" alt="Diretor 3" />
        <div class="p-4 bg-yellow-300 rounded-lg rounded-t-none">
          <h3 class="font-bold text-center">Parceiro 3</h3>
        </div>
      </li>
      <li class="shadow-md hover:shadow-lg rounded-lg partner">
        <img class="h-48 w-full object-cover rounded-t-lg" src="./assets/img/partner-logo.png" alt="Diretor 3" />
        <div class="p-4 bg-yellow-300 rounded-lg rounded-t-none">
          <h3 class="font-bold text-center">Parceiro 4</h3>
        </div>
      </li>
    </ul>
  </div>
</section>