{{!< default}}
<section class="flex justify-center items-center my-16 gap-10 flex-col sm:flex-row sm:gap-20">
  <div class="flex flex-col items-center sm:items-start w-full sm:w-1/2">
    <h1 class="text-3xl md:text-5xl font-bold text-center">Instituto Andre Rebouças</h1>
    <hr class="bg-black my-6 h-[2px] w-full" />
    <div class="text-lg md:text-xl mb-6 sm:text-left text-center">
      <p>
        Se tiver alguma dúvida, sugestão, interesse em nossas atividades ou desejar fazer parte de nossas iniciativas,
        não hesite em entrar em contato. Nossa equipe está pronta para fornecer todas as informações que você precisa.
      </p>
      <em>Nós, do Instituto Andre Rebouças, valorizamos o contato com todos que compartilham do mesmo propósito:
        construir uma comunidade mais forte e acolhedora. Junte-se a nós nessa jornada de transformação social.</em>
    </div>
    <a href="https://api.whatsapp.com/send?phone=5513998013230&text=Ol%C3%A1%2C%20entrei%20em%20contato%20a%20partir%20do%20site%20https%3A%2F%2Finstitutoandrereboucas.com.br%2C%20podemos%20conversar%20um%20pouco%20sobre%20.." target="_blank" class="text-md md:text-xl py-4 px-6 bg-yellow-300 font-semibold rounded-lg shadow-md hover:bg-yellow-500">
      Entre em contato conosco
    </a>
  </div>
  <div class="w-full sm:w-1/2">
    <img class="w-full h-full rounded-[7%]" src="{{asset 'img/andre-reboucas.jpg'}}" alt="Instituto Andre Rebouças" />
  </div>
</section>

<section class="flex justify-center items-center my-16 flex-col sm:flex-row sm:gap-20">
  <div class="w-full sm:w-1/2">
    <img class="w-auto h-auto rounded-lg" src="{{asset 'img/zona-oeste-sp.jpg'}}"
      alt="Imagem da Zona Oeste de São Paulo" />
  </div>
  <div class="flex flex-col mt-8 items-center sm:items-start w-full sm:w-1/2">
    <small class="text-sm md:text-base sm:text-left text-center">Atuamos na área cultural, social e esportiva da
      cidade.</small>
    <h2 class="text-2xl md:text-4xl mt-2 font-semibold sm:text-left text-center">Sobre a associação</h2>
    <p class="text-md md:text-xl my-6 sm:text-left text-center">
      O Instituto Andre Rebouças, fundado em 10/02/1993, na Zona Oeste de São Paulo, por moradores engajados, é uma
      referência de resistência à carência local. Busca avanços sociais através de ações afirmativas, oferecendo
      cursos, atividades culturais e esportivas para a comunidade. Após reorganização em maio de 2022, atua também
      como Sociedade de Bairro e ONG, representando os interesses da região junto aos órgãos governamentais e
      privados.
    </p>
    <button class="flex items-center py-4 px-6 bg-yellow-300 font-semibold rounded-lg shadow-md hover:bg-yellow-500">
      <span class="text-md sm:text-xl font-semibold mr-2">Saiba mais</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
</section>


{{#get "posts" limit="4"}}
{{#if posts}}
<section class="flex flex-col items-center my-32">
<div class="flex flex-col items-center">
  <h2
    class="text-2xl sm:text-4xl mb-6 font-semibold bg-yellow-300 hover:bg-yellow-500 rounded-lg shadow-md py-4 px-6">
    Notícias</h2>
</div>
<div class="events-list">
  <ul
    class="flex flex-col md:grid grid-flow-col [&>*:nth-child(2n+1)]:col-start-1 gap-8 mt-6 sm:gap-4 place-content-center">

    {{#foreach posts}}
      <li
        class="flex flex-col md:flex-row  bg-yellow-300 p-6 gap-6 rounded-lg shadow-md hover:shadow-lg hover:bg-yellow-500">

        {{#if feature_image}}
          <img class="max-w-[10em]" src="{{img_url feature_image}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" loading="lazy" />
        {{/if}}
        <div>
          <h3 class="text-2xl sm:text-4xl font-bold">{{name}}</h3>
          <p>{{title}}</p>
          <a href="{{url}}" class="flex items-center mt-4">
            <span class="text-sm sm:text-lg pr-2">Ver notícia</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </a>
        </div>
      </li>
    {{/foreach}}
  </ul>
</section>
{{/if}}
{{/get}}

<section class="flex flex-col items-center my-20 gap-10">
  <div class="flex flex-col items-center">
    <h2 class="text-2xl sm:text-4xl text-center font-semibold ">Nossos parceiros</h2>
  </div>
  <!-- Partners -->
  <div class="flex flex-wrap">

    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
      <div class="flex flex-col">
        <!-- logo -->
        <a href="#" class="mx-auto">
          <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
            src="{{asset 'img/partners/ciacup.jpg' }}" alt="Logo da CIACUP" />
        </a>

        <!-- Details -->
        <div class="text-center mt-6">
          <!-- Name -->
          <h1 class="text-gray-900 text-xl font-bold mb-1">
            CIACUP
          </h1>
        </div>
      </div>
    </div>

    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
      <div class="flex flex-col">
        <!-- logo -->
        <a href="#" class="mx-auto">
          <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
            src="{{asset 'img/partners/uniao.jpg' }}" alt="Logo da União Jardim Bandeirantes" />
        </a>

        <!-- Details -->
        <div class="text-center mt-6">
          <!-- Name -->
          <h1 class="text-gray-900 text-xl font-bold mb-1">
            União Jardim Bandeirantes
          </h1>
        </div>
      </div>
    </div>

    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
      <div class="flex flex-col">
        <!-- logo -->
        <a href="#" class="mx-auto">
          <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
            src="{{asset 'img/partners/paysandu.jpg' }}" alt="Logo da Associação Esportiva Paysandu-Parque Guarani" />
        </a>

        <!-- Details -->
        <div class="text-center mt-6">
          <!-- Name -->
          <h1 class="text-gray-900 text-xl font-bold mb-1">
            Associação Esportiva Paysandu-Parque Guarani
          </h1>
        </div>
      </div>
    </div>

    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
      <div class="flex flex-col">
        <!-- logo -->
        <a href="#" class="mx-auto">
          <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
            src="{{asset 'img/partners/ornam.jpg' }}" alt="Logo do Instituto ORNAM" />
        </a>

        <!-- Details -->
        <div class="text-center mt-6">
          <!-- Name -->
          <h1 class="text-gray-900 text-xl font-bold mb-1">
            Instituto ORNAM
          </h1>
        </div>
      </div>
    </div>

  </div>
</section>